<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Link to the separated CSS file -->
  <link rel="stylesheet" href="/styles/myStyles.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <div class="logo">Smart ToDo</div>
    <nav>

      <button id="login-btn">Login</button>
      <button id="signup-btn">Sign Up</button>
    </nav>
  </header>
  <br>
  <h1>Have fun! 🥔</h1>
  <main>
    <h2>Welcome to Smart ToDo!</h2>
    <div>
      <p>
      <h4>The focus of the midterms should not be on trying to make this a portfolio piece. Instead: 👇</h4>
      </p>
      <p>
        - Use this as a learning opportunity so that you are familiar with collaboration for the final project.
      </p>
      <p> - Focus on pair programming and supporting one another through this process.

      </p>
      <p> - The biggest takeaway from this project will be how you work as a team and not who can make the best app.
      </p>
    </div>
  </main>

</body>

</html>
