/* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: inherit; //#f2f2f2
  font-weight: bold;
  padding: 20px;
}

.user-info {
  text-align: left;
}

h1 {
  margin-top: 0;
}

nav {
  margin-top: 10px;
}

button.large {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h4 {
  color: #007bff;
}

p {
  margin-bottom: 20px;
}

.add-note {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
  background-color: inherit; //#f2f2f2
  border-radius: 5px;
  text-align: left;
}

#notes-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  padding: 20px;
}

#new-note {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

.note-textfield {
  border: none;
  height: 3em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.note-textfield:hover {
  box-shadow: 10px 15px 20px rgba(94, 35, 210, 0.187);
}

.note-btn {
  background-color: #007bff;
  border-color: #007bff;
  border-style: outset;
  color: #f1f1f1;
  font-size: large;
  width: 100px;
  height: 3em;
}

.note-btn:hover {
  background-color: blueviolet;
  border-color: blueviolet;
  box-shadow: 10px 15px 20px rgba(94, 35, 210, 0.187);
}

//Edit part

.form-control {
  height: 3em;
  width: 600px;
  border: none;
  margin-bottom: 2em;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-around;
}


/*.edit-submit-btn {
  align-items: left;
  // display: flex;
  // flex-direction: row;
  // justify-content:  flex-start;
  // flex-direction: row-reverse;
  margin-top: 2em;
}*/

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
}

.dropbtn {
  background-color:rgb(52, 91, 165);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content h4 {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content h4:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.edit-page-btns {
  display: flex;
  border: none;
  border-color: transparent;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  height: 3em;
}

.delete-btn {
  background-color: red;
  color: white;
}

.edit-submit-btn {
  background-color: green;
  color: white;
}

.cancel-btn {
  background-color: blue;
  color: white;
}
